*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  color: #052c33;
  box-sizing: border-box; }

span {
  display: block; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; }

@font-face {
  font-family: 'Light';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Light.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 45 Light"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Light"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Light.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'BlackItalic';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-BlackItalic.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 96 Black Italic"), local("NeueHaasDisplay-BlackItalic"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-BlackItalic.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Medium';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Mediu.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 65 Medium"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Mediu"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Mediu.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Mediu.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Mediu.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ThinItalic';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-ThinItalic.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 36 Thin Italic"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-ThinItalic"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-ThinItalic.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'RomanItalic';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-RomanItalic.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 56 Roman Italic"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-RomanItalic"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-RomanItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-RomanItalic.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-RomanItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'XXThinItalic';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThinItalic.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 16 XXThin Italic"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThinItalic"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThinItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThinItalic.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Roman';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Roman.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 55 Roman"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Roman"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Roman.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Roman.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BoldItalic';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-BoldItalic.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 76 Bold Italic"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-BoldItalic"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-BoldItalic.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Thin';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Thin.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 35 Thin"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Thin"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Thin.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Black';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Black.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 95 Black"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Black"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Black.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'XXThin';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThin.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 15 XXThin"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThin"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThin.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XXThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'MediumItalic';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-MediumItalic.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 66 Medium Italic"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-MediumItalic"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-MediumItalic.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Bold';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Bold.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 75 Bold"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Bold"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Bold.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'XThin';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThin.eot");
  src: local("Neue Haas Grotesk Display Pro 25 XThin"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThin"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThin.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'LightItalic';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-LightItalic.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 46 Light Italic"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-LightItalic"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-LightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-LightItalic.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'XThinItalic';
  src: url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThinItalic.eot");
  src: local("../assets/fonts/NeueHaasGrotesk/Neue Haas Grotesk Display Pro 26 XThin Italic"), local("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThinItalic"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThinItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThinItalic.woff") format("woff"), url("../assets/fonts/NeueHaasGrotesk/NeueHaasDisplay-XThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'itc';
  src: url(../assets/fonts/ITC-Century-Std-Book_24537.ttf);
  font-weight: normal;
  font-style: normal; }

.heading__text {
  font-family: "itc";
  font-size: 4rem;
  font-weight: 300; }
  .heading__text--small {
    font-size: 1.8rem; }

.encadrement {
  padding: 5rem 3rem; }

.marginB {
  margin-bottom: 3rem; }

.heading {
  text-align: center; }
  .heading__img--1 {
    height: 4.5rem;
    margin-bottom: 4rem; }
  .heading__img--2 {
    height: 3rem;
    margin-bottom: 2rem; }
  .heading--2 {
    background-color: #FFF0F0; }
  .heading .heading__box--1 {
    padding-top: 4rem;
    padding-bottom: 6rem; }
  .heading .heading__box--2 {
    padding-top: 14rem;
    padding-bottom: 9rem; }

.input {
  position: relative; }
  .input input {
    border: none;
    border-bottom: 1px solid #052c33;
    padding-bottom: 1rem;
    width: 100%; }
    .input input::placeholder {
      font-family: "Roman";
      font-size: 1.3rem;
      color: grey; }
  .input--pink input {
    background-color: transparent;
    border-bottom: 1px solid white;
    color: white;
    position: relative; }

.logo-box {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(-50%); }

.logo {
  height: 1.5rem; }

.row {
  width: 100%;
  margin: 0 auto; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row:first-child {
    margin-bottom: 1rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem) / 2); }
    .row .col-1-of-2--1 {
      background-image: url(../assets/picture/insta1.png);
      padding-top: 50%;
      background-size: cover; }
    .row .col-1-of-2--2 {
      background-image: url(../assets/picture/insta2.png);
      padding-top: 50%;
      background-size: cover;
      margin-right: 0; }
    .row .col-1-of-2--3 {
      background-image: url(../assets/picture/insta3.png);
      padding-top: 50%;
      background-size: cover; }
    .row .col-1-of-2--4 {
      background-image: url(../assets/picture/insta4.png);
      padding-top: 50%;
      background-size: cover; }

.banner {
  background-color: #FFF0F0;
  height: 4.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1; }
  .banner__content {
    font-family: "Roman";
    font-size: 1.9rem; }

.bannerDown {
  position: sticky;
  -webkit-position: sticky;
  bottom: 0;
  background-color: #052c33;
  padding-bottom: 2rem; }
  .bannerDown__box {
    text-align: center; }
  .bannerDown p {
    color: white;
    font-family: "Roman";
    font-size: 1.9rem;
    margin-bottom: 2rem; }

.logo-insta {
  margin-top: 2rem; }
  .logo-insta img {
    height: 3.5rem; }

.hashtag {
  padding: 2.5rem 0;
  border-top: 1px solid #052c33;
  border-bottom: 1px solid #052c33; }
  .hashtag__text {
    margin: 0 auto;
    width: max-content;
    font-family: "Roman";
    font-size: 2.5rem; }

.bg-box {
  position: relative; }
  .bg-box__bg--girlTeam {
    background-image: url(../assets/picture/girlteam.png);
    width: 100%;
    padding-top: 113%;
    background-size: cover;
    background-position: center; }
  .bg-box__bg--girlhair {
    background-image: url(../assets/picture/girlhair.jpeg);
    width: 100%;
    padding-top: 149%;
    background-size: cover;
    background-position: center; }
  .bg-box__bg--sisters {
    background-image: url(../assets/picture/sisters.jpg);
    width: 100%;
    padding-top: 69%;
    background-size: cover;
    background-position: center; }
  .bg-box__img--girlhair {
    height: 30rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -64%); }
  .bg-box__img--girlTeam {
    height: 2rem;
    position: absolute;
    top: 2rem;
    left: 2rem; }

.inscription__box {
  text-align: center;
  font-family: "Roman";
  font-size: 1.9rem; }

.inscription__img {
  margin-top: 3rem;
  width: max-content; }
  .inscription__img img {
    height: 5rem; }

.section-insta {
  border-top: 2px solid #052c33;
  border-bottom: 2px solid #052c33; }
  .section-insta__box {
    text-align: center; }

a.heading__text {
  margin-bottom: 3rem; }

.newsletter {
  border-bottom: 2px solid #052c33; }
  .newsletter__box {
    text-align: center; }

.section-service__box {
  max-width: 25rem;
  margin: 5rem auto; }

.items:not(:last-child) {
  margin-bottom: 3rem; }

.items-box {
  text-align: center;
  padding: 1rem; }
  .items-box__icon {
    height: 5rem; }
  .items-box__heading {
    margin-top: 2rem;
    margin-bottom: 1.8rem; }
  .items-box__text {
    font-family: "Roman";
    font-size: 1.8rem; }

.story-box {
  padding: 6rem 3rem; }
  .story-box__text {
    font-family: "Roman";
    font-size: 1.9rem;
    margin: 3.5rem auto; }

.paragraph:not(:last-child) {
  margin-bottom: 2rem; }

.signature {
  font-family: "itc";
  font-size: 1.3rem; }
