@mixin roman_medium {
    font-family: $font-Roman;
    font-size: $size-medium;
}

@mixin medium_medium {
    font-family:$font-Medium;
    font-size: $size-medium;
}

@mixin roman_small {
    font-family:$font-Roman;
    font-size: $size-small;
}

@mixin roman_inter {
    font-family:$font-Roman;
    font-size: $size-inter;
}

@mixin itc_big {
    font-family: $font-Itc;
    font-size: $size-big;
}

@mixin itc_inter {
    font-family: $font-Itc;
    font-size: $size-inter;
}



@mixin background ($padding) {
    width: 100%;
    padding-top: $padding;
    background-size: cover;
    background-position: center;
}