//color
$color-pink : #FFF0F0;
$color-green: #052c33;
$color-grey:grey;

//font-family
$font-BlackItalic:'BlackItalic';
$font-Roman:'Roman';
$font-Medium:'Medium';
$font-Light:'Light';
$font-ThinItalic:'ThinItalic';
$font-RomanItalic:'RomanItalic';
$font-BoldItalic:'BoldItalic';
$font-Thin:'Thin';
$font-Black:'Black';
$font-XXThin:'XXThin';
$font-MediumItalic:'MediumItalic';
$font-Bold:'Bold';
$font-XThin:'XThin';
$font-LightItalic:'LightItalic';
$font-XThinItalic:'XThinItalic';
$font-Itc:'itc';


//font-size
$size-huge:8rem;//76pt
$size-big:3.5rem; //36pt
$size-inter:2.5rem;
$size-medium:1.9rem; //24pt
$size-small: 1.8rem; //20pt


//banner
$bannerH:4.5rem; // height of the banner

//font-weight
$weight-small: 300;

//margins
$paddingsectionRL:3rem;


//border
$border:2px solid $color-green;