.banner {
    // text-align: center;
    background-color: $color-pink;
    height:$bannerH;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top:0;


    
    
    
    &__content {
       @include roman-medium;
    }

} 

