.bannerDown{
    position: sticky;
    -webkit-position:sticky;
    bottom: 0;
    background-color: $color-green;
    padding-bottom: 2rem;
    &__box{
        text-align: center;
        padding: 0 3rem;
    }
    p{
        color: white;
        @include roman_medium;
        margin-bottom: 2rem;
    }

}

.logo-insta {
    margin-top: 2rem;
    img{

        height: 3.5rem;
    }
}

.arrow-up,
.arrow-down{
   
        height: 2rem;
     
}

#arrow-up,
#arrow-down{
    margin-bottom: 2rem;
}

#phrase{
    display: none;
}

#arrow-down{
    display: none;
}