 
.bg-box {

        position: relative;
        
        &__bg{
        
         
                
                &--girlTeam{
                        background-image: url(../assets/picture/girlteam.png);
                        // padding-top: 113%;
                        @include background (113%);

                }

                &--girlhair {
                        background-image: url(../assets/picture/girlhair.jpeg);
                        @include background (149%);

                }

                &--sisters{
                        background-image: url(../assets/picture/sisters.jpg);
                        @include background (69%);  
                }
         
 
        }

        &__img{
                &--girlhair{
                        height: 30rem;
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        transform: translate(-50%, -64%);
                }

                &--girlTeam{
                        height: 2rem;
                        position: absolute;
                        top:2rem;
                        left: 2rem;
                }
        }
        

}

        
