.section-insta{
    padding:0 $paddingsectionRL;
    border-top:2px solid $color-green;
    border-bottom:2px solid $color-green;

    &__box{
        text-align: center;
    }
        
    
}

.row{
    width:100%;
    margin: 0 auto;

    &::after{
        content:'';
        display: table;
        clear: both;

    }


[class^="col-"] {
    float:left; 
    &:not(:last-child) {
        margin-right: 2rem;
    }

}

.col-1-of2 {
    width: calc((100% - 2rem) / 2);

}
}