.section-service{
    border:2px red solid;
    &__box{
        border:2px green solid;
        width: max-content;
        margin: 2rem auto;
    }
}

.items{
    border:5px violet solid;
    
    &:not(:last-child)
    {
        margin-bottom: 3rem;

    }
        &-box{
            border:2px yellow solid;
        }
}