.heading__text {
    @include itc_big;
    font-weight: $weight-small;

    &--small{
        font-size: $size-small;
    }
}

.encadrement{
    padding: 5rem 3rem;
}

.marginB{
    margin-bottom: 3rem;
}